/**
 * Copyright 2011 Google Inc. All Rights Reserved.
 * @author yimingli@google.com (Yiming Li)
 */

/**
 * CSS for Search-by-Image (SBI) Chrome extension options page.
 */
.sbi-box {
  background: #EBEFF9 url(images/bottom-left.png) no-repeat left bottom;
}

.sbi-box-outer {
  background: url(images/bottom-right.png) no-repeat right bottom;
  padding-bottom: 15px;
}

.sbi-box-inner {
  background: url(images/top-left.png) no-repeat left top;
}

.sbi-box-header {
  background: url(images/top-right.png) no-repeat right top;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.sbi-url-option {
  padding-top: 15px;
  padding-bottom: 15px;
}

/**
 * CSS for Search-by-Image (SBI) Chrome extension content scripts.
 * The Search-by-Image camera button looks the same in 3 states.
 */
.sbi_search {
  background: url('chrome-extension://__MSG_@@extension_id__/images/btn_normal.png') no-repeat scroll 0 0 transparent!important;
}
.sbi_search:hover {
  background: url('chrome-extension://__MSG_@@extension_id__/images/btn_hover.png') no-repeat scroll 0 0 transparent!important;
}
.sbi_search:active {
  background: url('chrome-extension://__MSG_@@extension_id__/images/btn_hover.png') no-repeat scroll 0 0 transparent!important;
}
